@font-face {
    font-family: 'イカモドキ';
    src: url('../fonts/ikamodoki1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Paintball';
    src: url('../fonts/Paintball_Beta_4a.otf') format('opentype');
}